* {
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(238, 238, 238);
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.text-container{
    padding-left: 5vw;
}

main {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 90vw;
  gap: 20px;
  row-gap: 20px;
}
